<mat-card class="card">
  <mat-card-content>
    <div>
      <h1>Kérdések kezelése</h1>
      <table>
        <ng-container *ngIf="questionService.filteredQuestions.length > 0">
          <tr *ngFor="let question of questionService.filteredQuestions" [routerLink]="['/question/'+question.id]">
            <td>{{ question.title }}</td>

          </tr>
        </ng-container>
        <tr *ngIf="questionService.filteredQuestions.length === 0">
          <td colspan="3">Nincsennek kérdések</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">A</button>
    <button mat-raised-button color="accent">B</button>
    <button mat-raised-button color="accent">C</button>
    <button mat-raised-button color="accent">D</button>
  </mat-card-actions>
</mat-card>
